<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.webServer>
        <caching caching="false" enableKernelCache="false" />
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=63072000; includeSubDomains; preload" />
                <add name="X-Frame-Options" value="DENY" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Content-Security-Policy" value="default-src 'none'; img-src 'self'; base-uri 'none'; form-action 'none'; frame-ancestors 'none'; style-src 'self' fonts.googleapis.com; font-src fonts.gstatic.com; require-sri-for script style;" />
                <add name="Referrer-Policy" value="no-referrer" />
                <add name="Feature-Policy" value="geolocation 'none'; midi 'none'; notifications 'none'; push 'none'; sync-xhr 'none'; microphone 'none'; camera 'none'; magnetometer 'none'; gyroscope 'none'; speaker 'none'; vibrate 'none'; fullscreen 'none'; payment 'none';" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rule name="root" stopProcessing="true">
                <match url="^$" />
                <action type="Rewrite" url="/index.html" />
            </rule>
            <rule name="index.html" stopProcessing="true">
                <match url="^index.html$" />
                <action type="Redirect" redirectType="Permanent" url="/" />
            </rule>
            <rule name="catch-all" stopProcessing="true">
                <match url="^.*$" />
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <action type="Redirect" redirectType="Permanent" url="/" />
            </rule>
        </rewrite>
    </system.webServer>
</configuration>
